{% extends 'miapp/base.html' %}
{% load static %}

{% block title %}
    Todos los Cursos
{% endblock title %}

{% block content %}
<body>
    <h1>Listado de todos los cursos</h1>
    <ul>
        {% for id, nombre, inscriptos in cursos %}
            <li>{{ id }} - {{ nombre }} - {{ inscriptos }} inscriptos</li>
        {% endfor %}
    </ul>
</body>
<br>
<h4><a href="{% url 'acerca' %}">Ir a Acerca de mi</a><br></h4>
<h4><a href="{% url 'index' %}">Ir a Inicio</a><br></h4>
<h4><a href="{% url 'uncurso' id=1 %}">Ir a Curso 1</a><br></h4>
{% endblock content %}