{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark" style='background-color: #0a4275;'>
      <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" href="#">
          <img src="{% static 'miapp/django.png' %}" alt="" width="30" height="24" class="d-inline-block align-text-top">
          Desarrollo Web Django</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Acerca</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Aeropuertos
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="">Aeropuertos</a></li>
                <li><a class="dropdown-item" href="">JSON Aeropuertos</a></li>
              </ul>
            </li>            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Cursos
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Listado de Cursos (HTML)</a></li>
                <li><a class="dropdown-item" href="#">Listado de Cursos</a></li>
                <li><a class="dropdown-item" href="">Listado de Cursos ORM</a></li>
                <li><a class="dropdown-item" href="#">Cantidad Alumnos Python</a></li>
                <li><a class="dropdown-item" href="">API Cursos ORM</a></li>  
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="">Nuevo curso (FORM)</a></li>  
                <li><a class="dropdown-item" href="">Nuevo curso ORM</a></li>          
              </ul>
            </li>          
          </ul>

        </div>
      </div>
    </nav>
    <!-- Content -->
    <div class="p-1 pb-1 ">
      {% block content %} {% endblock %}
    </div>
    <!-- Content -->
    <section class="">
      <!-- Footer -->
      <footer class="text-center text-white" style="background-color: #0a4275;">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: CTA -->
          <section class="">
            <p class="d-flex justify-content-center align-items-center">
              <span class="me-3">Ingreso como Administrador</span>
              <button type="button" class="btn btn-outline-light btn-rounded">
                Administrador
              </button>
            </p>
          </section>
          <!-- Section: CTA -->
        </div>
        <!-- Grid container -->
    
        <!-- Copyright -->
        
        {% block footer %}
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2026 Copyright:
            <a class="text-white" href="https://www.linkedin.com/in/norman-beltran/">By Norman Beltran</a>
        </div>            
        {% endblock footer %}            
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
    </section>  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>