{% extends 'mapp/base.html' %}
{% load static  %}
{% block title %}
    Bienvenidos a Movies
{% endblock title %}

{% block content %}
<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
        <h1>Explora el Mejor Contenido de Cine y Series</h1>
        <p>Descubre reseñas, noticias y recomendaciones de las mejores películas y series. 
            Desde los últimos estrenos hasta los clásicos imperdibles, todo en un solo lugar. 
            ¡Sumérgete en el mundo del entretenimiento y encuentra tu próxima obsesión!</p>
        </div>
    </div>
</div>
{% endblock content %}